* {
    box-sizing: border-box;
}

.row .col-3 col-s-3 menu .ui .li{
    text-align: center;
}

.body{
    background-image: linear-gradient(100deg, #0093E9 0%, #ffffff 50%);
}

.peng{
    text-align: justify;
}

.desc{
    text-align: justify;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.rounded-image{
    height: 250px;
    width: 220px;
}

.header {
    background-color: lightslategrey;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    text-indent: 20px;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #f6f3f5;
    color: #333030;
    box-shadow: 0 1px 3px rgba(242, 240, 240, 0.12), 0 1px 2px rgba(249, 248, 248, 0.24);
}

.menu .judul{
    text-align: center;
}

.menu li:hover {
    background-color: lightslategrey;
}

.aside {
    background-color: lightslategrey;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    border-radius: 30px;
    box-shadow: 0 1px 3px rgba(246, 239, 239, 0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
    background-color: lightslategrey;
    color: #000000;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    margin-top: 10px;
}

  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}